<!-- product-item.component.html -->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div id="box">
  <div class="items">
    <h1>{{product.name}}</h1>
    <img [src]="product.imageUrl" alt="image">
    <div class="detial-box">
      <p>
        <a class="item-link" href="{{ product.link }}" target="_blank">{{ product.detail }}</a>
      </p>
    </div>
    <br>
    <span [ngClass]="{'fa': true, 'fa-star': true, 'checked': true}"></span>
    <br>
  </div>
</div>
